sqlmap.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.epril.com/sqlmap"
        xmlns:tns="http://www.epril.com/sqlmap" elementFormDefault="qualified">

    <element name="sqlmap">
        <complexType>
            <sequence>
                <element name="sql" maxOccurs="unbounded" type="tns:sqlType"/> <!--필요한 개수만큼 <sql>을 포함할 수 있게 한다. -->
            </sequence>
        </complexType>
    </element>

    <complexType name="sqlType"> <!--<sql>에 대한 정의를 시작 -->
        <simpleContent>
            <extension base="string"> <!--sql 문장을 넣을 스트링 타입을 정의한다. -->
                <attribute name="key" use="required" type="string"/> <!--검색을위한 key값은 <sql>의 key 어트리뷰트에 넣는다. 반드시 입력해야하는 필수 값이다.-->
            </extension>
        </simpleContent>
    </complexType>
</schema>